/* -- HPWEB STYLE SHEET hpweb_styles_win_ie.css VERSION 1.2 --*/

body {font-family: Arial, Verdana, Helvetica, Sans-serif;}

td,th { font-family: Arial, Verdana, Helvetica, Sans-serif; font-size: 78%; }

a {color: #003366; text-decoration: none;}
a:active {color: #003366;}
a:link {color: #003366;}
a:visited {color: #660066;}
a:hover {text-decoration: underline;}

a.bold {font-weight: bold;}
a.small {font-size: 90%;}
a.udrline {text-decoration: underline;}
a.udrlinebold {font-weight: bold; text-decoration: underline;}
a.udrlinesmall {text-decoration: underline; font-size: 90%;}

a.lftnavhdr {font-weight: bold;}
a.lftnavhdr:visited {font-weight: bold; color: #003366;}

h1 {font-size: 180%; font-weight: normal; margin-bottom: 2px; margin-top: 2px;}
h2 {font-size: 100%; margin-bottom: 1px; margin-top: 1px; font-weight: normal;}
h3 {font-size: 100%; margin-bottom: 1px; margin-top: 1px; font-weight: normal;}
h4 {font-size: 100%; margin-bottom: 1px; margin-top: 1px; font-weight: normal;}
h5 {font-size: 100%; margin-bottom: 1px; margin-top: 1px; font-weight: normal;}

.bold {font-weight: bold;}
.small {font-size: 70%;}
.smallbold {font-size: 70%; font-weight: bold;}
.srchopt {color: #333333; font-size: 70%;}
.copyright {color: #666666; font-size: 70%;}
.color333333 {color: #333333;}
.color666666 {color: #666666;}
.color003366 {color: #003366;}
.color003366bld {color: #003366; font-weight: bold;}
.srchradbtn {background-color:#E7E7E7;}
