/* $Header: /home/cvs/xidi/xidistyle/3.1/styles/docbook.css,v 1.19 2003/08/08 21:44:42 leth Exp $
 * CSS Style sheet for DocBook markup
 */

/* Modification of the hpweb stylesheets:
     default (inline) anchor links have constant underline
     anchor names have no underline
     glossary links are the same as inline links
     left nav and linkLine links have hover-only underline
     small links (contact hp) have hover-only underline
 */
a {text-decoration: underline;}
a.anchorName {text-decoration: none;}
a.glossaryLink {text-decoration: underline;}
a.lftnavhdr {text-decoration: none; font-weight: bold;}
a.lftnavhdr:visited {font-weight: bold; color: #003366;}
a.lftnavhdr:hover {text-decoration: underline;}
a.linkLine {text-decoration: none;}
a.linkLine:hover {text-decoration: underline;}
a.small {text-decoration: none;}
a.small:hover {text-decoration: underline;}

/* DocBook titles, just bold no font size change */
.title {font-size: 100%; margin-bottom: 1px; margin-top: 1px; font-weight: bold;}

div.msgexplan {
    /* Indented so that message explanation is subordinate to message text */
    margin-left: +2ex;
}

div.msginfo {
    /* Indented so that message info is subordinate to message text */
    margin-left: +2ex;
}

div.sidebar {
    /* Sidebars float to the left of text */
    float: left;
}

.sidebar-end {
    /* Clear any floating elements, e.g. sidebars */
    clear: both;
}

div.variablelist {
    /* Add indentation to the entire variable list */
    margin-left: +2ex;
}

div.informalexample {
    /* Add indentation to the example block */
    margin-left: +2ex;
}

.subheadNoLink {
    /* Header styles used by bridgeheads and other secondary headers */
    font-family: Verdana, Helvetica, Arial, Sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

p.list-compact {
    /* Paragraph style for compact paragraphs in a listitem */
    margin-top: 0;
    margin-bottom: 1ex;
}

p.list-initial {
    /* Paragraph style for the initial paragraph in a listitem */
    margin-top: 0.5ex;
    margin-bottom: 1.5ex;
}

p.list-internal {
    /* Paragraph style for normal spacing paragraphs within a listitem */
    margin-top: 0;
    margin-bottom: 1.5ex;
}

p.list-last {
    /* Paragraph style for the last paragraph in a listitem */
    margin-top: 0;
    margin-bottom: 2ex;
}

tt, pre.screen {
    /* Font used for computeroutput, screen, and literallayout */
    font-family: courier new, courier, monospace;
}
